// colors
$red: #D0021B;
$white-cnt: #fff;
$white: #F6F6F6;
$grey: #FAFAFA;
$black: #444444;
$white-txt: #E1E1E1;
$grey-txt: #848484;
$grey-input: #979797;

// font sizes
$fs14: 1em;
$fs16: 1.15em;
$fs20: 1.43em;
$fs10: 0.71em;
$fs12: 0.86em;

// fonts
$font: font-proxima-r, helvetica, arial sans-serif;
$font-robot: font-mrrobot, helvetica;
